* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background: #FAFAFA;
  }
  
  header h3 {
    font-size: 30px;
    font-weight: 400;
    padding: 50px 0;
    text-align: center;
  }
  
  .usefull_link {
    width: 60%;
    margin: auto;
  }
  
  .content_wrap {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
  }
  
  .single_box {
    background: transparent;
    color: black;
    padding: 38px 16px;
  }
  
  .usefull_icon {
    width: 60px;
    height: 60px;
    background: #46b5d1;
    color: white;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 15px;
  }
  
  .usefull_content p {
    line-height: 35px;
    color: #46B5D1;
  }
  
  .usefull_content p span {
    color: black;
  }
  
  .usefull_content p a {
    color: #46B5D1;
    text-decoration: none;
  }
  
  /* useful link end  */
  
  .form_design {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
  }
  
  .info {
    background: white;
    width: 50%;
    padding: 50px 45px;
  }
  
  .info h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .name_email_wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .f_name {
    width: 45%;
  }
  
  .f_name label {
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .f_name input {
    padding: 13px 0px 13px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    font-size: 16px;
  }
  
  form input[type="submit"] {
    color: white;
    background: #46B5D1;
    border: none;
    padding: 16px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: .3s;
  }
  
  form input[type="submit"]:hover {
    background: #0091b5;
  }
  
  .img {
    width: 50%;
  }
  
  .img img {
    width: 100%;
    height: 100%;
  }
  
  .email input {
    padding: 13px 0px 13px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    font-size: 16px;
  }
  
  .from_box input {
    padding: 13px 0px 13px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    font-size: 16px;
  }
  
  .from_box textarea {
    font-size: 16px;
    padding: 13px 0px 13px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    font-family: "Poppins", sans-serif;
  }
  
  .f_name input ::placeholder {
    font-size: 20px;
  }
  
  .email {
    width: 45%;
  }
  
  .email label {
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .from_box label {
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .from_box {
    margin-bottom: 20px;
  }
  ::placeholder {
    color: #c9c9c9;
  }